// Login Modal Begin
.login-modal {
    background-color: rgba(58,119,127, 0.5);

    .login-m-doc {
        
        .modal-content {
            background-color: $brand-beach;
            .login-m-title {
                color: $brand-trq-drk;
            }
        }
    }
}
// Login Modal End